<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kdt.miniproject.mapper.InfoMapper">

<resultMap type="com.kdt.miniproject.vo.ReviewLogVO" id="rlmap"> 
<result column="m_idx" property="m_idx"/>
<result column="r_idx" property="r_idx"/>
 <association property="mvo" column="m_idx" javaType="com.kdt.miniproject.vo.MemberVO" select="mvo"></association>
 <association property="rvo" column="r_idx" javaType="com.kdt.miniproject.vo.ReviewVO" select="rvo"></association>
</resultMap>

<!-- select -->
<select id="reviewlog" resultMap="rlmap" parameterType="String">
SELECT * FROM minipro.reviewlog WHERE rl_val1 = ${param}
</select>

<select id="mvo" resultType="com.kdt.miniproject.vo.MemberVO" parameterType="String">
SELECT * FROM minipro.member WHERE m_idx = ${param}
</select>

<select id="rvo" resultType="com.kdt.miniproject.vo.ReviewVO" parameterType="String">
SELECT * FROM minipro.review WHERE r_idx = ${param}
</select>

<!-- insert -->
<insert id="rvowrite" parameterType="com.kdt.miniproject.vo.ReviewVO" useGeneratedKeys="true" keyProperty="r_idx" keyColumn="r_idx">
INSERT INTO minipro.review(contentid,title,score,content,status) 
VALUES("${contentid}" ,"${title}" ,"${score}","${content}" ,0 )
</insert>

<insert id="rlvowrite" parameterType="Map">
INSERT INTO minipro.reviewlog(m_idx ,r_idx ,writedate ,rl_val1 ) VALUES(${m_idx} ,${r_idx} ,NOW() ,${contentid})
</insert>
<!-- update -->
</mapper>