<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kdt.miniproject.mapper.LoginMapper">

<!-- select -->
<select id="all" resultType="com.kdt.miniproject.vo.MemberVO">
SELECT * FROM minipro.member
</select>

<select id="login" parameterType="Map" resultType="com.kdt.miniproject.vo.MemberVO">
    select * from minipro.member
    where email = #{email} and
    password = #{password}
  </select>
  
  <select id="passChk" resultType="int">
  SELECT COUNT(*) FROM minipro.member
  WHERE email = #{email}
  AND password = #{password}
  </select>
  
<!-- insert -->


<!-- update -->
</mapper>